<!DOCTYPE html>
<html lang="en">

<head id="loadWebsiteHeadings">
    <script src="js/pageLoaderHandler.js"></script>
    <script>
        handlePageTitle()
    </script>
</head>

<body style="background-color: hsl(230, 43%, 97%);" id="loadWebsiteCSS">
    <nav-bar></nav-bar>
    <main class="main3">
        <section class="">
            <div class="">
                <div class="">
                    <h1 class="">We sell legos.</span></h1>
                    <p class="">Lorem ipsum dolor sit amet, consec
                        tetur adipiscing elit, sed do eiusmod
                        tempor incididunt.
                    </p>
                    <a href="/store" class="">Start Shopping</a>
                </div>

                <div class="hero__image-wrapper">
                    <img src="https://pngimg.com/uploads/lego/lego_PNG49.png"
                        alt="Hand Holding Joystick" class="">
                </div>
            </div>
        </section>
    </main>

    <script>
        handleLoadingCSS()
        handleLoadingCustomJS()
    </script>

</body>

</html>