<!DOCTYPE html>
<html lang="en">

<head id="loadWebsiteHeadings">
    <script src="js/pageLoaderHandler.js"></script>
    <script>
        handlePageTitle('Lego Store')
    </script>
</head>

<body id="loadWebsiteCSS" style="background-color: hsl(230, 43%, 97%);">
    
    <div class="main-store">
        <nav-bar></nav-bar>
        <main style="background-color: hsl(230, 43%, 97%);" class="main3">
            <a href="/store">
                Go back
            </a>
            <div id="name">

            </div>
            <button id="add-to-cart">
                Add to cart
            </button>
            <div id="brick-section" class="row">

            </div>

            <div id="set-section" class="row">

            </div>

        </main>
    </div>
    <script>
        handleLoadingCSS()
        handleLoadingCustomJS()
    </script>
</body>

</html>