<!DOCTYPE html>
<html lang="en">

<head id="loadWebsiteHeadings">
    <script src="js/pageLoaderHandler.js"></script>
    <script>
        handlePageTitle('Lego Store')
    </script>
</head>

<body id="loadWebsiteCSS">
    <div class="main-store">
        <h1>Shop</h1>
        <h3><a href="/">my cart</a></h3>
        <h2>Stuff</h2>
        <div class="row">
            <a class="item" href="/">
                <div class="image"
                    style="background-image: url(https://i.postimg.cc/kG2nG90k/JPEG-Bild-C9-EE86-A30950-4.jpg);"></div>
                <p class="item_description">Plant</p>
            </a>
            <a class="item" href="/">
                <div class="image"
                    style="background-image: url(https://i.postimg.cc/0Nxx17cM/JPEG-Bild-C9-EE86-A30950-2.jpg);"></div>
                <p class="item_description">Another Plant</p>
            </a>
            <a class="item" href="/">
                <div class="image"
                    style="background-image: url(https://i.postimg.cc/2jq5wFJr/JPEG-Bild-C9-EE86-A30950-3.jpg);"></div>
                <p class="item_description">Little Plants</p>
            </a>
            <a class="item" href="/">
                <div class="image"
                    style="background-image: url(https://i.postimg.cc/q7Rr7pH4/JPEG-Bild-C9-EE86-A30950-1.jpg);"></div>
                <p class="item_description">Phone Stand</p>
            </a>
        </div>
        <h2>Devices</h2>
        <div class="row">
            <a class="item" href="/">
                <div class="image"
                    style="background-image: url(https://i.postimg.cc/tgVrkchF/JPEG-Bild-C9-EE86-A30950-6.jpg);"></div>
                <p class="item_description">Laptop</p>
            </a>
            <a class="item" href="/">
                <div class="image"
                    style="background-image: url(https://i.postimg.cc/XNgssdy1/JPEG-Bild-C9-EE86-A30950-7.jpg);"></div>
                <p class="item_description">XBox</p>
            </a>
            <a class="item" href="/">
                <div class="image"
                    style="background-image: url(https://i.postimg.cc/MKCfRrKC/JPEG-Bild-C9-EE86-A30950-5.jpg);"></div>
                <p class="item_description">Kindle</p>
            </a>
        </div>
    </div>
    <script>
        handleLoadingCSS()
        handleLoadingCustomJS()
    </script>
</body>

</html>