<!DOCTYPE html>
<html lang="en">

<head id="loadWebsiteHeadings">
    <script src="js/pageLoaderHandler.js"></script>
    <script>
        handlePageTitle('Lego Store')
    </script>
</head>

<body id="loadWebsiteCSS">
    <div class="main-store">
        <nav-bar></nav-bar>
        <main style="background-color: hsl(230, 43%, 97%);" class="main2">
            <h1 class="text">Shop</h1>
            <p class="text">Choose from our Collections, Bricks or Sets!</p>
            <h2>Collections</h2>
            <div id="collections-section" class="row">
                
            </div>
            <h2>Bricks</h2>
            <div id="brick-section" class="row">

            </div>

            <h2>Sets</h2>
            <div id="sets-section" class="row">

            </div>
        </main>
    </div>
    <script>
        handleLoadingCSS()
        handleLoadingCustomJS()
    </script>
</body>

</html>