<!DOCTYPE html>
<html lang="en">

<head id="loadWebsiteHeadings">
    <script src="js/pageLoaderHandler.js"></script>
    <script>
        handlePageTitle('Lego Store')
    </script>
</head>

<body id="loadWebsiteCSS">
    <div class="main-store">
        <nav-bar></nav-bar>
        <main style="background-color: hsl(230, 43%, 97%);" class="main2">
            <h1 class="text">Shop</h1>
            <p class="text">Choose from our Collections, Bricks or Sets!</p>
            <h2>Collections</h2>
            <div class="row">
                <a class="item" href="/">
                    <div class="image"
                        style="background-image: url(https://i.postimg.cc/kG2nG90k/JPEG-Bild-C9-EE86-A30950-4.jpg);">
                    </div>
                    <p class="item_description">Plant</p>
                </a>
                
            </div>
            <h2>Bricks</h2>
            <div class="row">
                <a class="item" href="/">
                    <div class="image"
                        style="background-image: url(https://i.postimg.cc/tgVrkchF/JPEG-Bild-C9-EE86-A30950-6.jpg);">
                    </div>
                    <p class="item_description">Laptop</p>
                </a>
            </div>

            <h2>Sets</h2>
            <div class="row">
                <a class="item" href="/">
                    <div class="image"
                        style="background-image: url(https://i.postimg.cc/MKCfRrKC/JPEG-Bild-C9-EE86-A30950-5.jpg);">
                    </div>
                    <p class="item_description">Kindle</p>
                </a>
            </div>
        </main>
    </div>
    <script>
        handleLoadingCSS()
        handleLoadingCustomJS()
    </script>
</body>

</html>