@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Error 404 CSS */
.animOne {
    animation: scales 3s alternate infinite;
    transform-origin: center;
}

.animTwo {
    animation: rotatepao 14s cubic-bezier(.1, .49, .41, .97) infinite;
    transform-origin: center;
}

.animThree {
    animation: rotatepao 7s 1s cubic-bezier(.1, .49, .41, .97) infinite;
    transform-origin: center;
}

.olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
}

.left-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 150px 156px;
}

.right-sparks {
    animation: left-sparks 4s alternate infinite;
    transform-origin: 310px 150px;
}

.olhos {
    animation: olhos 2s alternate infinite;
    transform-origin: center;
}

@keyframes scales {
    from {
        transform: scale(0.98)
    }

    to {
        transform: scale(1)
    }
}

@keyframes rotatepao {
    0% {
        transform: rotate(0deg)
    }

    50%,
    60% {
        transform: rotate(-20deg)
    }

    100% {
        transform: rotate(0deg)
    }

}

@keyframes olhos {
    0% {
        transform: rotateX(0deg);
    }

    100% {
        transform: rotateX(30deg);
    }
}

@keyframes left-sparks {
    0% {
        opacity: 0;
    }
}


.main {
    min-height: 600px;
    margin: 0px auto;
    width: auto;
    max-width: 460px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.path {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: dash 4s alternate infinite;
}

@keyframes dash {

    0%,
    30% {
        fill: 4B4B62;
        stroke-dashoffset: 0;
    }

    80%,
    100% {
        fill: transparent;
        stroke-dashoffset: -200;
    }
}

/* Shop CSS */

.main2 {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    overflow: hidden
}

.text {
    margin: 0;
    margin-left: 20pt;
    margin-top: 30pt;
    margin-bottom: 15pt;
}


h2 {
    margin: 0;
    margin-left: 20pt;
    margin-top: 30pt;
    margin-bottom: 15pt;
}

h3 {
    font-family: monospace;
    font-weight: light;
    margin: 0;
    margin-left: 20pt;
    margin-top: 15pt;
    font-size: 16px;
}

h3 a:link,
h3 a:visited,
h3 a:active,
h3 a:hover {
    color: #333;
}

.row {
    background-color: none;
    width: calc(100% - 20pt);
    height: 250pt;
    margin-left: 20pt;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap
}

.item {
    display: inline-block;
    width: 250pt;
    height: 230pt;
    background-color: #fff;
    border-radius: 6pt;
    margin-right: 15pt;
    margin-bottom: 20pt;
    transition: 0.2s ease-in-out;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.item:link,
.item:visited,
.item:active {
    color: #333;
    text-decoration: none;
}

.item:hover {
    opacity: 0.75;
    transform: scale(0.98);
    color: #333;
    text-decoration: none;
}

.image {
    height: 150pt;
    width: 250pt;
    background-color: #ddd;
    border-radius: 6pt 6pt 0pt 0pt;
    background-size: cover;
    background-position: center center;
}

.item_title {
    margin: 0;
    padding-top: 18pt;
    font-size: 17px;
    margin-left: 10pt;
    margin-right: 10pt;
    text-align: center;
    font-family: monospace;
}


.item_description {
    margin: 0;
    padding-top: 18pt;
    font-size: 13px;
    margin-left: 10pt;
    margin-right: 10pt;
    text-align: center;
    font-family: monospace;
    text-overflow: ellipsis;
    overflow: hidden;

}


/* Scroll Bar CSS */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Navbar CSS */

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

main {
    margin-left: 5rem;
    margin-bottom: 0rem;
    padding: 1rem;
}

.main-store {
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow-x: hidden;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}


.main3 {
    margin: 0px auto;
    max-width: 460px;
    align-items: center;
    justify-content: center;
}
